<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.first.mapper.AdminMapper">
    <resultMap id="userResultMap" type="com.example.first.dto.UserDto">
        <result property="userId" column="user_id"/>
        <result property="username" column="username"/>
        <result property="name" column="name"/>
        <result property="nickname" column="nickname"/>
        <result property="password" column="password"/>
        <result property="phoneNumber" column="phone_number"/>
        <result property="profilePictureLocation" column="profile_picture_location"/>
        <result property="zipcode" column="zipcode"/>
        <result property="streetAdr" column="street_adr"/>
        <result property="detailAdr" column="detail_adr"/>
        <result property="regDate" column="reg_date"/>
    </resultMap>

    <resultMap id="menuResultMap" type="com.example.first.dto.MenuDto">
        <result property="seq" column="seq"/>
        <result property="menuName" column="menu_name"/>
        <result property="url" column="url"/>
        <result property="auth" column="auth"/>
        <result property="useYN" column="use_yn"/>
        <result property="order" column="order"/>
        <result property="regDate" column="reg_date"/>
        <result property="regId" column="reg_id"/>
    </resultMap>

    <resultMap id="errorResultMap" type="com.example.first.dto.ErrorDto">
        <result property="seq" column="seq"/>
        <result property="username" column="username"/>
        <result property="nickname" column="nickname"/>
        <result property="errorTime" column="error_time"/>
        <result property="errorType" column="error_type"/>
        <result property="errorMessage" column="error_message"/>
    </resultMap>



    <select id="getAllUsers" resultType="com.example.first.dto.UserDto" resultMap="userResultMap">
        SELECT * FROM postgres.public.users
        ORDER BY reg_date desc
    </select>

    <select id="getUserCountByMonth" resultType="int">
        SELECT COUNT(*)
        FROM postgres.public.users
        WHERE SUBSTRING(reg_date, 6, 2) = #{formattedMonth}
    </select>

    <select id="insertUploadUsers" parameterType="java.util.List">
        INSERT INTO postgres.public.users (name, username, nickname, phone_number, zipcode, street_adr, detail_adr, reg_date)
        VALUES
        <foreach collection="list" item="user" separator=",">
            (#{user.name}, #{user.username}, #{user.nickname}, #{user.phoneNumber}, #{user.zipcode}, #{user.streetAdr}, #{user.detailAdr}, #{user.regDate})
        </foreach>
    </select>

    <select id="getMenuTable" resultType="com.example.first.dto.MenuDto" resultMap="menuResultMap">
        SELECT *
        FROM postgres.public.menu
    </select>

    <select id="getAllError" resultType="com.example.first.dto.ErrorDto" resultMap="errorResultMap">
        SELECT *
        FROM postgres.public.error
    </select>



</mapper>
