<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!--회원가입-->
<mapper namespace="com.example.first.mapper.HomeMapper">
    <select id="signUp" parameterType="com.example.first.dto.UserDto">
        INSERT INTO postgres.first_project.users (user_email, user_name, user_nickname, user_password, user_password_confirm, user_phone_number, user_profile_picture, zipcode, street_adr, detail_adr)
        VALUES ( #{email}, #{username}, #{nickname}, #{passwordConfirm}, #{password}, #{phoneNumber}, #{profilePicture} , #{zipcode}, #{streetAdr}, #{detailAdr})
    </select>

<!--인증 번호 저장-->
    <select id="setAuth" parameterType="com.example.first.dto.TempAuthInfo">
        INSERT INTO postgres.first_project.auth (user_email, auth_number)
        VALUES ( #{email}, #{authNumber})
    </select>

<!--    사용자 메일로 사용자 가져오기-->

<!--&lt;!&ndash;    사용자 아이디로 사용자 가져오는 메서드&ndash;&gt;-->
<!--    <select id="findByUserId" resultType="com.example.model.User">-->
<!--        SELECT * FROM users WHERE user_id = #{userId}-->
<!--    </select>-->

<!--    개인정보 확인-->
<!--    <select id="personalInfo"  resultType="com.example.first.dto.UserResponseDto">-->
<!--        <![CDATA[-->
<!--        SELECT sum(total_price) FROM sales total_price-->
<!--        WHERE store_id = #{store_id}-->
<!--          AND (ORDER_AT > LAST_DAY(NOW() - interval 1 month)-->
<!--            AND ORDER_AT <= LAST_DAY(NOW()))-->
<!--        ]]>-->
<!--    </select>-->

<!--    계정 중복확인-->
    <select id="isUsernameUnique" parameterType="java.lang.String" resultType="java.lang.Boolean">
    <![CDATA[
        SELECT COUNT(*) = 0
        FROM users
        WHERE user_name = #{username}
        ]]>
    </select>
</mapper>