<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!--회원가입-->
<mapper namespace="com.example.first.mapper.HomeMapper">
    <select id="signUp" parameterType="com.example.first.dto.UserDto" resultType="com.example.first.dto.UserDto">
        INSERT INTO postgres.first_project.users ( name, username, nickname, password, phone_number, profile_picture, zipcode, street_adr, detail_adr)
        VALUES ( #{name}, #{username}, #{nickname}, #{password},#{phoneNumber}, #{profilePicture} , #{zipcode}, #{streetAdr}, #{detailAdr})
    </select>

<!--인증 번호 저장-->
    <select id="setAuth" parameterType="com.example.first.dto.TempAuthInfo">
        INSERT INTO postgres.first_project.auth (username, auth_number)
        VALUES ( #{username}, #{authNumber})
    </select>



    <!--    사용자 메일로 사용자 가져오기-->
    <select id="findByUsername" parameterType="java.lang.String" resultType="com.example.first.dto.UserDto">
        SELECT * FROM postgres.first_project.users WHERE username = #{username}
    </select>


<!--    마이페이지 정보 가져오기-->
    <select id="getUserInfo" parameterType="java.lang.String" resultType="com.example.first.dto.UserDto">
        SELECT * FROM postgres.first_project.users WHERE username = #{username}
    </select>


    <!--    개인정보 확인-->
<!--    <select id="personalInfo"  resultType="com.example.first.dto.UserResponseDto">-->
<!--        <![CDATA[-->
<!--        SELECT sum(total_price) FROM sales total_price-->
<!--        WHERE store_id = #{store_id}-->
<!--          AND (ORDER_AT > LAST_DAY(NOW() - interval 1 month)-->
<!--            AND ORDER_AT <= LAST_DAY(NOW()))-->
<!--        ]]>-->
<!--    </select>-->

<!--    계정 중복확인-->
    <select id="isUsernameUnique" parameterType="java.lang.String" resultType="java.lang.Boolean">
    <![CDATA[
        SELECT COUNT(*) = 0
        FROM postgres.first_project.users
        WHERE username = #{username}
        ]]>
    </select>
</mapper>